// #dddddd35
$debug-outline-color: transparent;
$border-color: white;
$hover-color: rgba(221, 221, 221, 0.329);

main {
    flex: 1;
    padding-top: 7rem;
    // border-radius: 250px;
    backdrop-filter: blur(4px) saturate(160%);
}

.chat {
    -webkit-user-select: none;
    user-select: none;

    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    padding: 10px;
    // background-color: transparent;
    flex: 1;
    width: 95vw;
    // outline: 1px solid $debug-outline-color;
    // box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));

    .workspace-section {

        outline: 1px solid $debug-outline-color;
        flex: 1;
        display: flex;
        flex-direction: column;

        .workspace-title {

            outline: 1px solid $debug-outline-color;
            display: flex;
            justify-content: left;
            padding-left: 20px;

            h1 {
                // all: unset;
                font-size: 25px;
                font-weight: bolder;
            }

        }

        .list {
            flex: 1;
            display: flex;
            justify-content: row;
            gap: 20px;
            // padding-top: 0;

            .section-selector {
                flex: 1;
                outline: 1px solid $debug-outline-color;
                color: white;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                margin-right: 0px;
                // padding: 20px;

                img {
                    width: 50px;
                    height: 50px;
                    margin: 10px;
                    cursor: pointer;
                }
            }

            .conversation-selector,
            .dms,
            .settings {
                flex: 4;
                outline: 1px solid $debug-outline-color;
            }

            .conversation-selector {

                display: flex;
                flex-direction: column;

                .channels {
                    margin-top: 20px;
                    margin-left: 20px;

                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .channel {
                        font-weight: 525;
                        border-radius: 10px;
                        padding: 2px;
                        cursor: pointer;
                        width: 90%;
                        padding: 3px;

                        &:hover {
                            background-color: rgba(57, 57, 57, 0.582);
                        }

                        // Put gap here
                        // outline: 1px solid $debug-outline-color;
                    }
                }
            }
        }

    }

    .workspace-section .list,
    .messages {
        padding-top: 20px;
    }

    .messages {
        flex: 2;
        outline: 1px solid $debug-outline-color;
        display: flex;
        flex-direction: column;

        .channel-title {
            display: flex;
            align-items: center;
            outline: 1px solid $debug-outline-color;
            border-bottom: 1px solid $border-color;
            padding-bottom: 5px;

            h1 {
                margin-left: 20px;
                font-size: 25px;
                font-weight: bolder;
                padding-top: 0;
                margin-top: 0;
            }
        }

        .messages-section {
            flex: 1;
            background-color: black;
            max-height: 480px;
            overflow-y: scroll;
            // overflow-y: auto;
            // overflow: hidden;

            .message {
                // background-color: black;
                // outline: 1px solid $debug-outline-color;
                width: 100%;
                min-height: 70px;
                padding: 10px;

                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;

                .texts {
                    flex: 1;
                    // background-color: yellow;
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    padding-left: 10px;

                    h1 {
                        all: unset;
                        font-size: 18px;
                        font-weight: 450; 
                        padding-top: 0;
                        margin-top: 0;
                    }

                    p {
                        font-weight: 300;
                    }
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: contain;
                }

                &:hover {
                    // background-color: rgb(23, 20, 20);
                    // background-color: rgba(0, 0, 0, 0.147);
                    background-color: rgba(88, 88, 88, 0.147);
                }
            }
        }

        .message-compose-section {
            display: flex;
            justify-content: space-between;
            // background-color: rgb(48, 48, 48);
            // background-color: #fff;
            padding: 20px;
            // border-top: 1px solid $border-color;
            outline: 1px solid $debug-outline-color;
            // border-top: 1px solid $border-color;

            .send-msg {
                display: flex;
                flex-direction: row;
                gap: 20px;
                flex: 1;
                
                .upload {
                    // background-color: black;

                    position: relative;
                    // display: inline-block;
                    // display: flex;
                    // flex-direction: column;
                    // background-color: yellow;
                    // width: 100%;

                    &:hover .upload-select {
                        // display: block;
                    }

                    .upload-select {
                        // display: none;
                        position: absolute;
                        min-width: 160px;
                        padding: 10px;
                        // min-width: min-content;

                        display: none;
                        z-index: 1;
                        bottom: 50px;
                        // display: flex;
                        // flex-direction: column;
                        // margin: 5px;
                        background-color: whitesmoke;
                        border-radius: 10px;
                        cursor: pointer;
                        // padding: 10px;

                        &.show {
                            display: block;
                        }
                        
                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 12px 16px;
                            color: black;
                            font-size: 20px;
                            border-radius: 10px;
                            // border-bottom: 1px solid black;

                            &:hover {
                                background-color: black;
                                color: white;
                            }

                            // &::before {
                            //     content: "";
                            //     width: 75%;
                            //     background-color: black;
                            //     // position: absolute;
                            // }
                        }
                    }

                    .upload-btn {
                        border-radius: 50%;
                        transition: 0.5s;

                        &.show {
                            rotate: 135deg;
                            transition: 0.5s;
                        }
                    }



                    // img.upload-btn {
                    //     background-color: rgb(39, 39, 39);
                    //     border-radius: 50%;
                    //     padding: 5px;
                    //     width: 45px;
                    //     height: 45px;
                    // }
                }

                input {
                    all: unset;
                    width: 90%;
                    background-color: transparent;
                    color: white;
                    font-size: 18px;
                }
            }

            img,
            .send-msg img {
                width: 40px;
                height: 40px;
                cursor: pointer;
                // background-color: white;
            }
        }
    }
}